@media only screen and (max-width: 768px) {
    .product-middle {
        font-size: 15px !important;
        text-transform: capitalize;
        margin-bottom: 12px;
    }
    .cursor-table-variant{
        display:none !important; 
    }
    .table-price-mobile-tr {
        display: flex;
        table-layout: fixed;
        align-content: space-evenly;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .btn-calc{
        width:97% !important;
    }
    .table-td-flex-direction {
        display: flex !important;
        justify-content: space-evenly !important;
        padding: 0 !important;
        border: 0 !important;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: center;
    }
    .td-info-price-t-a-c {
        text-align: center !important;
        padding-right: 0 !important;
    }
    .m-right-pl {
        margin-right: 0px !important;
    }
    .price-font {
        font-size: 11px;
    }
    .p-left-mobile {
        padding-left: 10px;
    }
    .td-info-text-price{
        float:none !important;
        position:inherit !important;
        bottom:inherit !important;;
    }
    .td-info-mobile {
        width: 99% !important;
    }
    .table-price-padding {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .td-width-mobile{
        width:100% !important;
    }
    .td-title-mobile {
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        display: grid !important;
        align-content: center;
        height: 50px;
        align-items: center;
    }
    .modal-content-mobile {
        width: 91% !important;
    }
    .mobile-slider-image {
        height: 44vh !important;
    }
    .header-sub-element.row img {
        width: 100%;
    }
    .custom-titlebar-mobile {
        width: 100% !important;
    }
    .header-center-mobile {
        padding: 0px 0px 15px 0px !important;
    }
    .banner-mobile {
        position: relative;
        top: -2px;
    }
    .logo-mobile{
        width:180px !important;
    }
    .slide-fullw {
        margin-bottom: 15px;
    }
    .card-mobile-height {
        height: 39vh;
    }
    .mobile-slider-h {
        height: 14vh;
        object-fit: cover;
    }
    .mobile-category-container{
        padding-top:20px !important;
    }
    .detail-card-images{
        height:390px !important;
    }
    .detail-card-image-link{
        margin-top:20px !important;
    }
    .img-detail-card{
        height:39vh !important;
    }
    .desktopView {
        display: none !important;
    }

    .mobileView {
        display: block !important;
    }

/*    .mobileViewContainer {
        padding-top: 0px !important;
    }*/
    .mobile-Container {
        padding-top: 20px !important;
        padding-bottom: 0px !important;
    }
    .mobile-eproduct {
        padding-top: 0px !important;
    }

    .cart-fixed-bottom {
        position: fixed !important;
        height: 80px !important;
        background-color: #fff !important;
        bottom: -3px;
        left: 0px;
        top: auto !important;
        right: auto !important;
        width: 100% !important;
        z-index: 500;
        box-shadow: 0px 10px 20px 0px #000;
        display: block;
    }
    .custom-prod-detail {
        max-width: 100% !important;
        border-radius: 0;
        margin: 0px 0px 50px 0px !important;
        display: grid;
        justify-content: center;
    }
    .txt-kdv {
        position: relative;
        left: 0;
        width: 24%;
        top: 15px;
        text-align:left !important;
    }

    .txt-price {
        position: relative;
        left: 0px;
        width: 40%;
        top: 5px;
        text-align:left !important;
    }

    .btn-cart-go {
        margin: 15px auto !important;
        border: 0 !important;
        padding: 10px 20px !important;
        width: 35% !important;
        bottom: 55px;
        float: right;
        position: relative;
        right: 18px;
    }

    .hot-line-mobile {
        background: #fff !important;
        border-radius: 0;
        padding: 0;
    }

    .cart-absolute {
        position: absolute;
        width: 100% !important;
        float: left;
        left: 0 !important;
    }

    .cart-fixed {
        position: inherit !important;
        width: 100% !important;
        top: 0px !important;
        min-width: 100%;
    }

    .dropdown-cart {
        -webkit-box-shadow: 0px 3px 24px 0px rgb(0 0 0 / 8%);
        box-shadow: 0px 3px 24px 0px rgb(0 0 0 / 8%);
        border-radius: 5px;
        left: unset;
        right: 0px;
        min-width: 327px;
        border: 1px solid #ebebeb;
        padding: 17px 17px 21px 22px;
    }
    .showPayButton {
        display: none !important;
    }
}

.btn_clear {
    background: crimson;
    color: #fff;
    float: right;
    font-size: 15px;
    padding: 10px;
}

.product-col-custom{
    margin:10px 0px 0px 6px !important;
}

.desktopView {
    display: block;
}

.padding-t-b{
    padding:30px 0;
}

.mobileView {
    display: none;
}

.noShowRelational {
    height: 0;
    padding-bottom: 0px;
    overflow: hidden;
}

.ShowRelational {
    height: auto;
    overflow: auto;
    padding-bottom: 40px;
    transition: all 1s ease-in-out;
}

.isDisabled {
    pointer-events: none;
    background: #9d9d9d;
}

#payButton{
    display:none;
}

.showPayButton{
    display:block;
}

.btn-active{
    background-color:red;
}

.distd{
    background-color:#ddd;
    cursor:not-allowed;
}

.mobile-Container{
    padding-top:50px;
    padding-bottom:40px;
}

.mobile-eproduct {
    padding-top: 30px;
}

.navbar-middled-menu {
    display: grid;
    height: auto !important;
    padding-bottom: 0;
    justify-content: center;
    margin: 0 auto;
    overflow: visible !important;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    width: 1200px;
}

.slide-fullw .slick-arrow:hover {
    background: none;
}

.slide-fullw .slick-arrow {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.ads-group .slide {
    border-radius: 10px;
    overflow: hidden;
    height: 335px;
}

.product-tab {
    padding-bottom: 5px;
}

.ads-group {
    margin-bottom: 0px;
    padding-top: 25px;
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    width: 295px !important;
}

.slide-fullw .prev {
    left: 5%;
}

.slide-fullw .next {
    right: 5%;
}

.co-coupon {
    padding-bottom: 25px;
}

.co-pd .co-pd-list .co-name {
    color: #666666;
    line-height: 20px;
    float: left;
    max-width: 275px;
}

.cart-total .order-total.v2 td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cart-total th {
    padding: 15px 45px;
    vertical-align: top;
}

.cart-total .order-total td {
    padding: 0px;
}

.cart-total .order-total th {
    font-size: 16px;
    font-weight: 500;
    padding-top: 22px;
}

.cart-total .cart-total-bottom.v2 {
    padding: 25px 42px;
    margin-bottom: 15px;
}

.item_cart .product-name .product-info {
    width: 70%;
    max-width: 70%;
}

    .item_cart .product-name .product-info a {
        font-size: 18px;
        font-weight: 500;
    }

.breadcrumb {
    margin: 5px 0;
}

.co-pd .co-title {
    padding-top: 24px;
    padding-left: 42px;
    padding-right: 43px;
    padding-bottom: 18px;
    font-size: 16px;
    font-weight: 500;
}

.form-customer input {
    height: 54px;
    border-radius: 999px;
    border: 1px solid #b7b7b7;
    padding-left: 33px;
    margin-bottom: 15px;
}

.btn_primary_color {
    color: #000;
    background-image: none;
    background: #ffed00;
}

    .btn_primary_color:hover {
        color: #000;
    }

.pd-bd {
    border: 1px solid #b7b7b7;
}

.bd-7 {
    border: 1px solid #b7b7b7;
}

hr {
    border-top: 1px solid #b7b7b7;
}

.ecome-heading.style2:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid #b7b7b7;
}