<footer style="background:#e0dfda;">
    <div class="f-top" style="padding:45px 0 15px 0">
        <div class="container container-240">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="footer-block footer-about">
                        <div class="f-logo">
                            <a href="#"><img style="height:80px;" src="~/img/logo.svg" alt="logo-reklamlutfen" title="logo-reklamlutfen" loading="lazy" class="img-reponsive"></a>
                        </div>
                        <ul class="footer-block-content">
                            <li class="address" style="padding: 10px 0px 4px 0px;">
                                <span>İstanbul Şişli</span>
                            </li>
                            <li class="phone" style="padding: 10px 0px 4px 0px;">
                                <span>(+90) 456 789</span>
                            </li>
                            <li class="email" style="padding: 10px 0px 4px 0px;">
                                <span>info@reklamlutfen.com</span>
                            </li>
                        
                        </ul>
                        <div class="footer-social social">
                            <h3 class="footer-block-title" style="font-family:Urbanist Bold; margin-bottom:5px;">Bizi Takip Edin</h3>
                            <a href="#" style="margin-right: 5px;" class="fa fa-twitter"></a>
                            <a href="#" style="margin-right: 5px;" class="fa fa-dribbble"></a>
                            <a href="#" style="margin-right: 5px;" class="fa fa-behance"></a>
                            <a href="#" style="margin-right: 5px;" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="footer-block">
                        <h3 class="footer-block-title" style="font-family:Urbanist Bold; margin-bottom:5px;">Hızlı Menü</h3>
                        <ul class="footer-block-content">
                            <li><a href="#">TV & Video</a></li>
                            <li><a href="#">Home Audio & Theater</a></li>
                            <li><a href="#">Camera, Photo & Video</a></li>
                            <li><a href="#">Cell Phones & Accessories</a></li>
                            <li><a href="#">Headphones</a></li>
                            <li><a href="#">Video Games</a></li>
                            <li><a href="#">Bluetooth & Wireless Speakers</a></li>
                            <li><a href="#">Car Electronics</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                    <div class="footer-block">
                        <h3 class="footer-block-title" style="font-family:Urbanist Bold; margin-bottom:5px;">Müşteri Hizmetleri</h3>
                        <ul class="footer-block-content">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Track your Order</a></li>
                            <li><a href="#">Returns/Exchange</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Customer Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="footer-block">
                        <div class="footer-block-phone">
                            <h3 class="footer-block-title" style="font-family:Urbanist Bold; margin-bottom:5px;">İletişim</h3>
                            <p class="phone-light">(+123) 456 789</p>
                        </div>
                        <div class="footer-block-newsletter">
                            <h3 class="footer-block-title" style="font-family:Urbanist Bold; margin-bottom:5px;">Abone Olun</h3>
                            <p>Gelişmelerimizden haberdar olmak için sizde abone olun!.</p>
                            <form class="form_newsletter" action="#" method="post">
                                <input type="email" value="" placeholder="Email adresinizi girin" name="EMAIL" id="mail" class="newsletter-input form-control">
                                <button id="subscribe" class="button_mini btn btn-gradient" type="submit">
                                    Abone Ol
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="f-bottom">
        <div class="container container-240">
            <div class="row flex lr">
                <div class="col-xs-12 f-copyright" style="text-align:center"><span>Tüm Hakları Saklıdır © 2023 | <a style="color: #ffffff85;" href="https://ikifikir.net" target="_blank">İkifikir İletişim</a> tarafından geliştirildi.</span></div>
                @*<div class="col-xs-6 f-payment hidden-xs">
                        <a href="#"><img src="~/img/payment/mastercard.png" alt="" class="img-reponsive"></a>
                        <a href="#"><img src="~/img/payment/paypal.png" alt="" class="img-reponsive"></a>
                        <a href="#"><img src="~/img/payment/visa.png" alt="" class="img-reponsive"></a>
                        <a href="#"><img src="~/img/payment/american-express.png" alt="" class="img-reponsive"></a>
                        <a href="#"><img src="~/img/payment/western-union.png" alt="" class="img-reponsive"></a>
                        <a href="#"><img src="~/img/payment/jcb.png" alt="" class="img-reponsive"></a>
                    </div>*@
            </div>
        </div>
    </div>
</footer>