
@{
    ViewData["Title"] = "sonuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container container-240">
    <div class="error-page bd-7 text-center">
        <div class="error-img">
            <img src="~/img/sonuc.png" alt="sonuç 404" title="sonuç 404" loading="lazy">
        </div>
        <h3 class="error-title">Formunuz bize ulaşmıştır. En kısa sürede sizi arayacağız</h3>    
        <a href="@Url.Action("sayfa","anasayfa")" class="btn-back btn-gradient btn_primary_color">Ana Sayfaya Geri Dönün<i class="ion-ios-arrow-forward"></i></a>
    </div>
</div>

